Makefile
*.pbc
*.c
*.o
*.obj
*.exe
*.tmp

wmlsi
wmlsd
installable_*

man

src/*.pbc
src/opcode.pir
src/stdlibs.pir

src/ops/*.bundle
src/ops/*.c
src/ops/*.dll
src/ops/*.h
src/ops/*.o
src/ops/*.obj
src/ops/*.so

src/pmc/*.bundle
src/pmc/*.c
src/pmc/*.dll
src/pmc/*.dump
src/pmc/*.h
src/pmc/*.o
src/pmc/*.obj
src/pmc/*.pdb
src/pmc/*.so

src/runtime/*.pbc

t/*.out
t/*.pbc
t/*.pir
t/*.wmls
t/*.wmlsc
t/pmc/*.pir
