Makefile
*.pbc
*.c
*.o
*.obj
*.exe
*.iss

installable_*

man
*.tmp
*.sto

wmlscript/*.pbc
wmlscript/opcode.pir
wmlscript/stdlibs.pir
wmlscript/library/*.pbc

dynext/*.dll
dynext/*.so

dynext/ops/*.bundle
dynext/ops/*.c
dynext/ops/*.h
dynext/ops/*.o
dynext/ops/*.obj

dynext/pmc/*.bundle
dynext/pmc/*.c
dynext/pmc/*.dump
dynext/pmc/*.h
dynext/pmc/*.o
dynext/pmc/*.obj
dynext/pmc/*.pdb

test_*.wmls
test_*.wmlsc
